 .flex-container{
    display: flex; 
    justify-content: center;
} 
/*unordered list, flex, wrap*/
.flex-container dl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-grow: 1;
  } 

.flex-container dl dt{
    margin: 10px;
    border:black solid 2px;
    border-radius: 10%;
    background-color: gray;
    
} 
/*changes buttons when hoover*/ 
.flex-container dl :hover {
    
    background-color:black;
    color: white;
}
#visited {
    background-color: rgb(68, 231, 139);
}
#visited:hover {
    background-color: green ;
} 