body {
    margin: 0;
    padding: 0;
    background-color: rgb(78, 84, 84);
    color: cornsilk;
    font-family: 'Amatic SC';
}
header, nav, article, footer {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border: cornsilk solid 1px;
    border-radius: 10px;
    background-color: black;
}
article, footer { 
    padding: 10px;
}
header, footer {
    justify-content: center;
}
header,footer {
    height: 5%; 
}
footer {
    margin-bottom: 20px;
}

/*Headings*/
h1{ 
    margin: auto;   
    /* font-family: 'Amatic SC'; */
    font-size: 3em;
    justify-content: center;
    display: flex; 
}
h2{
    margin-bottom: 20px;   
    justify-content: center;
    display: flex;
    color: black; 
    margin: auto;
    padding: 20px;  
} 
#stad {
    margin-bottom: 30px;   
    justify-content: center;
    border: cornsilk solid 1px;
    border-radius: 10px;
    width: 80%;
    background-color: cornsilk;
    margin: auto;
    padding: 20px;  
}

.flex-container{
    display: flex; 
    justify-content: center;
} 

.flex-container ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  } 
/*Flexbox settings, center*/
.flex-container{
    display: flex; 
    justify-content: center;
}
/*unordered list, flex, wrap*/
.flex-container ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
/*list items, grow, no bulletpoints*/  
.flex-container ul li {
    flex-grow: 1;
    list-style: none;
} 
/*buttons*/  
.flex-container button{
    font-family: 'Amatic SC';
    font-size: 1.5em;
    color: cornsilk;
    margin: 5px;
    border: cornsilk solid 2px;
    border-radius: 10%;
    background-color: rgb(38, 39, 41);
}
#stadID{
    font-size: 1em;
    margin: auto;
}
/*changes buttons when hoover*/ 
.flex-container ul li button:hover {
    background-color: cornsilk;
    color: black;
}
#visited {
    background-color: rgb(68, 231, 139);
    color: black;
}
#visited:hover {
    background-color: green ;
    color: cornsilk;
} 
#spara {
    background-color: rgb(68, 231, 139);
    color: black; 
    margin: 20px;
}
#spara:hover {
    background-color: green ;
    color: cornsilk;
} 

